#banner
  .banner_content
    %h1 Personal Doctor Notebook
    %p Doctor online notebook. Never forget your patient note again!
    %button= link_to "Sing Up", new_user_registration_path

#testimonial
  .wrapper
    %p.quote "The awesomest DOCTOR notebook application. Isn't it?"
    %p.name - Doctor Abolit

#callouts
  .callouts_inner
    .wrapper
      .callout
        %i.fa.fa-pencil
        %h2 Notes
        %p The Way Get Started Is To Quit Talking And Begin Doing.
      .callout
        %i.fa.fa-rocket
        %h2 Follow up
        %p The Pessimist Sees Difficulty In Every Opportunity. The Optimist Sees The Opportunity In Every Difficulty.
      .callout
        %i.fa.fa-bolt
        %h2 Ideas
        %p Don’t Let Yesterday Take Up Too Much Of Today.
#bottom_cta
  .wrapper
    %h2 For RealZ?!
    %p We want you to sign up... If you don't, we will find you - Hot DOCTOR!
    %button= link_to "Click me Now!!!", new_user_registration_path
%footer
  %p &copy; Doctor Abolit        